<%- include("./partials/header") %>
        <h1 class="text-center">Task Tracker McMaster</h1>
        <div class="container">
                <div class="row">
                        <img src="https://imgur.com/LfmzmjL.jpg" class="img-fluid w-100" alt="Responsive image">
                </div>
        </div>
 <%- include("./partials/footer") %>