<%- include("./partials/header")  %> 
        <!-- <h1 class="text-center">Task Tracker McMaster</h1> -->
        <h1 class="text-center">Task Tracker</h1>
        <!-- <img src="https://imgur.com/LfmzmjL.jpg" class="img-fluid" alt="Responsive image" style=""> -->
<%- include("./partials/footer")  %> 