<%- include("./partials/header")  %> 
        <h1 class="text-center">Task Tracker McMaster</h1>
        <img src="https://imgur.com/LfmzmjL.jpg" class="img-fluid" alt="Responsive image">
<%- include("./partials/footer")  %> 