<%- include("../partials/header.ejs") %>
    <h1>Create new Category</h1>
    <form action="/categories" method="POST" autocomplete="off">
        <label>Category Name:
            <input type="text" name="title">
        </label><br>
        <label>Deadline:
            <input type="datetime-local" name="dueDate">
        </label><br>
        <input type="submit" value="Add Category">
    </form>
<%- include("../partials/footer.ejs") %>