<%- include("../partials/header")  %> 
<h1>To-Do's List</h1>
<form action="/categories/<%= category._id %>/lists" method="POST" autocomplete="off">
    <label>
        <input type="text" name="listItem">
    </label>
    <input type="submit" value="Add To-Do Item">
</form>
<% if (category.lists.length) { %>
    <table>
      <thead>
        <tr>
          <th>To-Do</th>
        </tr>
      </thead>
      <tbody>
        <% category.lists.forEach(function(d) { %>
          <tr>
            <td><%= d.listItem %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No To-Do's created yet!</h5>
  <% } %>
<%- include("../partials/footer")  %> 